# dependencies
node_modules/

# nextjs
.next/
out/

# strapi build
build/
.cache/
.strapi/

# env files
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db



postgresql://postgres.zbriwhvcsiqpaunkdepj:ebIGp5LoVR4Zey5b@aws-0-eu-west-1.pooler.supabase.com:5432/postgres
